@font-face {
    font-family: 'RedRose';
    src: url('/font/RedRose-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

@font-face {
    font-family: 'Patrick Hand';
    src: url('/public/font/PatrickHand-Regular.ttf') format('truetype');
    font-weight: 100 900;
}

body {
    height: 100vh;
    background-color: white;
    font-family: 'RedRose', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body.theme-food * {
    font-family: 'Patrick Hand', sans-serif;
}

body.theme-code {
    background-color: #303131;
}

body.theme-code * {
    font-family: 'RedRose', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.setting__body {
    height: 100vh;
    background-color: white;
}

.main-content {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}

.startplay__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #dfdfdf;
    padding: 20px;

    & span {
        color: black;
        font-size: 1.25rem;
        text-align: center;
    }

    & #playerview {
        width: 80px;
        text-align: center;
    }
}

.player-radio {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.player-radio:checked {
    background-color: #fff;
}

.player-radio:checked::after {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background-color: #060606;
}

.player-preview {
    display: flex;
    gap: 8px;
    align-items: center;
    min-width: 80px;
    display: none;
}

.player-preview img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.startplay__button:hover .startplay__button-icon {
    transform: rotate(-10deg);
}

.startplay__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #f0ea6e;
    padding: 20px;
    cursor: pointer;
    border: none;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.96);
        filter: brightness(0.9);
    }

    &-icon {
        width: 34px;
        height: 26px;
    }

    &-text {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    font-family: 'RedRose';
    }
}

.readyplay__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f0ea6e;
    width: 250px;
    height: 100px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.96);
        filter: brightness(0.9);
    }

    &:hover .readyplay__button-icon {
        transform: rotate(-30deg);
    }

    &:hover .readyplay__button-arrow--small {
        display: none;
    }

    &:hover .readyplay__button-arrow--large {
        display: block;
    }

    &-icon {
        width: 42px;
        height: 30px;
        transition: transform 0.3s ease;
    }

    &-text {
        font-size: 2.5rem;
        color: #303131;
        font-weight: bold;
        margin: 0;
    }

    &-arrow {
        font-size: 2rem;
        font-weight: bold;
    }

    &-arrow--small {
        display: flex;
    }

    &-arrow--large {
        display: none;
        transform: scale(1.25);
    }
}

.readyplay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    background-color: #303131;
}

.readyplay__hero-icon {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 400px;
}

.readyplay__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}

.readyplay__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card {
    width: 124px;
    height: 124px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    perspective: 1000px;

    &__inner {
        width: 97%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        position: relative;
    }

    &__face {
        position: absolute;
        inset: 0;
        background-image: url(/public/card-img-da/card_front.png);
        backface-visibility: hidden;
        width: 120px;
        height: 120px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--back {
            transform: rotateY(180deg);
            background-image: none !important;
            background-color: white;
            backface-visibility: hidden;
        }

        &--back img {
            width: 120px;
            height: 120px;
            border-radius: 8px;
            object-fit: cover;
            backface-visibility: hidden;
        }
    }

    &.is-flipped .card__inner {
        transform: rotateY(180deg);
        transition: all 750ms;
    }
}

body.theme-food .card__face {
    background-image: url(/public/card-img-food/front-card.png);
}

.card[data-matched="true"] .card__face--back img {
    border: 2px solid #4dd5bc;
    border-radius: 8px;
}

body.theme-food .card[data-matched="true"] .card__face--back img {
    border-color: #ff9f1c;
}

.setting__left--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    max-width: 400px;
    width: 100%;
}

.setting__right--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 50px;
    position: relative;
    top: 50px;
}

.exit__button {
    height: 23px;
    width: 85px;
    cursor: pointer;
    border: none;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 30px;
    text-align: center;
    min-width: 270px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    & h2 {
        font-size: 3rem;
        color: #303131;
        margin-bottom: 20px;
    }

    & #backToGame {
        background-color: #66cfbc;
        border: none;
        color: white;

        &:hover {
            transform: scale(1.1);
        }
    }

    & #confirmExit {
        background-color: #66cfbc65;
        border: 1px solid #66cfbc;
        color: #66cfbc;

        &:hover {
            transform: scale(1.1);
        }
    }

    & button {
        margin: 10px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1.75rem;
        background-color: #66cfbc;
        transform: scale(0.98);
    }
}

.setting__preview {
    background-color: #9e9c9c !important;
}

.themes-img {
    width: 460px;
    height: 412px;
    border-radius: 18px;
}

.game__themes,
.game__players,
.game__board {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;

    & b {
        font-size: 1.5rem;
        gap: 10px;
        display: flex;
        align-items: center;
    }

    & label {
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;
    }

    &__player,
    &__size,
    &__theme {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.25rem;
        padding-left: 36px;
    }

    &__theme label:hover {
        font-weight: bold;

        &::before {
            content: "";
            background-color: #f0ea6e;
            flex-shrink: 0;
            width: 15px;
            height: 15px;
            position: absolute;
            right: -5px;
            transform: rotate(45deg);
        }

        &::after {
            content: "";
            background-color: #f0ea6e;
            flex-shrink: 0;
            width: 48px;
            height: 4px;
        }

    }
}

.game__themes input[type=radio]:checked+label,
.game__themes input[type=checkbox]:checked+label,
.game__players input[type=radio]:checked+label,
.game__players input[type=checkbox]:checked+label,
.game__board input[type=radio]:checked+label,
.game__board input[type=checkbox]:checked+label {
    align-items: center;
    gap: 8px;
    font-weight: 700;
    display: inline-flex;
    position: relative;
}

.game__themes input[type=radio]:checked+label:before,
.game__themes input[type=checkbox]:checked+label:before,
.game__players input[type=radio]:checked+label:before,
.game__players input[type=checkbox]:checked+label:before,
.game__board input[type=radio]:checked+label:before,
.game__board input[type=checkbox]:checked+label:before {
    content: "";
    background-color: #f0ea6e;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -5px;
    transform: rotate(45deg);
}

.game__themes input[type=radio]:checked+label:after,
.game__themes input[type=checkbox]:checked+label:after,
.game__players input[type=radio]:checked+label:after,
.game__players input[type=checkbox]:checked+label:after,
.game__board input[type=radio]:checked+label:after,
.game__board input[type=checkbox]:checked+label:after {
    content: "";
    background-color: #f0ea6e;
    flex-shrink: 0;
    width: 48px;
    height: 4px;
}